g.rotatable
  g.scalable
    rect.body
  text.question-text
  path.btn-add-modifier(d="M5,0 10,0 10,5 15,5 15,10 10,10 10,15 5,15 5,10 0,10 0,5 5,5z")
  path.btn-add-trigger(d="M5,0 10,0 10,5 15,5 15,10 10,10 10,15 5,15 5,10 0,10 0,5 5,5z")
